dataset/
weight/
weights/
weight_1/
weights_1_old/
weights_1/
weights/
weights_2/
weights_3/
weights_4/
weights_5/
weights_6/
weights_7/
weights_8/
weights_9/
weights_10/
weights_11/
weights_12/
weights1
results/
mask_test/
training_results/
weigts3_norm/